body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2.0em;
    color: Navy;
    margin-top: 1em;
}

h2 {
    font-size: 1.8em;
    color: Navy;
}

#paragraf1,
#paragraf2,
#paragraf3 {
    background-color: lightyellow;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0.5em 0 0.5em 0;
    border-radius: 1.0em;
}

#bagian1,
#bagian2 {
    display: inline-block;
    background-color: #ccd;
    padding: 0 1em 0 1em;
}

dt {
    margin-top: 10px;
    color: white;
    background-color: navy;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

dd {
    margin-left: 0;
    margin-bottom: 10px;
    background-color: #ccd;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

nav {
    display: flex;
    max-width: fit-content;
    background-color: #AAB;
}

nav a {
    margin: 0 1em;
    padding: .3em;
    color: navy;
    background-color: #CCD;
}

nav ol {
    display: flex;
    background-color: black;
    width: 15%;
}

nav li {
    justify-content: space-between;
}

ol {
    counter-reset: item;
    padding-left: 0em;
}

ol li {
    display: block;
}

ol li::before {
    content: counters(item, ".") ".    ";
    counter-increment: item;
}

nav a:hover {
    background-color: lightyellow;
}

ul {
    padding-left: 1em;
}