body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2.0em;
    color: Navy;
    margin-top: 1em;
}

h2 {
    font-size: 1.8em;
    color: Navy;
}

#paragraf1,
#paragraf2,
#paragraf3 {
    background-color: lightyellow;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0.5em 0 0.5em 0;
    border-radius: 1.0em;
}

#bagian1,
#bagian2 {
    display: inline-block;
    background-color: red;
    padding: 0 1em 0 1em;
}

nav ol {
    list-style-type: none;
    background-color: aliceblue;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: lightyellow;
    text-align: center;
    padding: 0 1em 0 1em;
    text-decoration: none;
}

nav li a:hover {
    background-color: lightyellow;
}