@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
}

h1 {
    text-align: left;
    font-size: 36px;
    margin-bottom: 20px;
}

::selection {
    background: #3a7bd5;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

input[type="text"],
input[type="password"] {
    padding: 13px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    font-size: 16px;
}

input[type="submit"] {
    background: linear-gradient(-135deg, #00d2ff, #3a7bd5);
    margin: 10px 0;
    color: #fff;
    border: none;
    border-radius: 20px;
    max-width: 320px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    max-width: 500px;
    font-size: 16px;
}

img {
    width: 30em;
    height: 30em;
    max-width: 100%;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.container {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.box1 {
    width: 30em;
    margin-left: 100px;
    padding: 30px 10px 10px 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.content .forget-pass-link {
    margin-right: 15px;
}

.container .signup-link {
    margin-top: 20px;
    margin-left: 15px;
    text-align: center;
}

.content .checklist {
    margin-left: 15px;
}

.container form {
    padding: 10px 50px 50px 0px;
}

.container form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.container form .field label {
    position: absolute;
    top: 40%;
    left: 15px;
    color: #aaa;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transition: all 0.3s ease;
}

form .field input:focus~label,
form .field input:valid~label {
    top: 10px;
    left: 10px;
    color: black;
    background: #fff;
    transform: translateY(-50%);
}

.eye {
    position: absolute;
    top: 53%;
    right: 13px;
    opacity: 0.6;
}

#hide1 {
    display: none;
}

#hide2 {
    display: block
}